--
-- PostgreSQL database dump
--

\restrict 8IRhckxxJqn0KEEfsGW9DB0N8mEMQoFhYJipbveWKCho8cFcGBMmp50NExHc3uK

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_properties_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_properties_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = CURRENT_TIMESTAMP;
  RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    recipient_id uuid NOT NULL,
    property_id uuid,
    type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    actor_name character varying(100),
    actor_email character varying(255),
    actor_phone character varying(30),
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: properties; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.properties (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    listing_type character varying(20) NOT NULL,
    property_type character varying(50) NOT NULL,
    tenure character varying(50),
    property_name character varying(255),
    street_name character varying(255),
    city_name character varying(100),
    state character varying(100),
    county character varying(100),
    pincode character varying(20),
    landmark character varying(255),
    location text,
    latitude double precision,
    longitude double precision,
    price numeric(15,2) NOT NULL,
    buildup_area numeric(10,2),
    furnishing character varying(20),
    bedrooms integer,
    bathrooms integer,
    availability character varying(50),
    floor_level character varying(50),
    year_of_build integer,
    negotiable boolean DEFAULT false NOT NULL,
    amenities jsonb DEFAULT '{"security": [], "lifestyle": [], "facilities": []}'::jsonb NOT NULL,
    images jsonb,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    land_size numeric(10,2),
    area_unit character varying(30),
    price_per_unit numeric(15,2),
    total_price numeric(15,2),
    facing_direction character varying(100),
    corner_plot character varying(10),
    road_width character varying(30),
    survey_number character varying(120),
    approval_types jsonb,
    soil_type character varying(50),
    clear_title character varying(10),
    loan_facility character varying(30),
    registration_ready character varying(10),
    contact_person_name character varying(100),
    contact_number character varying(20),
    year_of_completion integer,
    car_park_allocation character varying(100),
    renovation_status character varying(100),
    deposit_amount numeric(15,2),
    minimum_rental_period character varying(100),
    pet_policy character varying(100),
    preferred_tenant_type character varying(100),
    maintenance_fee numeric(15,2),
    sinking_fund numeric(15,2),
    bumi_lot_status character varying(100),
    floor_plan text
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(30) NOT NULL,
    email character varying(255) NOT NULL,
    phone_number character varying(20),
    user_type character varying(30),
    ren_number character varying(50),
    ren_status character varying(30),
    profile_image character varying(500),
    full_name character varying(100),
    bio text,
    company_name character varying(100),
    ic_passport character varying(50),
    designation character varying(100),
    experience_years integer,
    password_hash character varying(255) NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    verification_token character varying(255),
    verification_expiry timestamp without time zone,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    otp character varying(50)
);


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notifications (id, recipient_id, property_id, type, title, message, is_read, actor_name, actor_email, actor_phone, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: properties; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: notifications PK_6a72c3c0f683f6462415e653c3a; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "PK_6a72c3c0f683f6462415e653c3a" PRIMARY KEY (id);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: properties set_properties_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER set_properties_updated_at BEFORE UPDATE ON public.properties FOR EACH ROW EXECUTE FUNCTION public.update_properties_updated_at();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: notifications FK_5332a4daa46fd3f4e6625dd275d; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "FK_5332a4daa46fd3f4e6625dd275d" FOREIGN KEY (recipient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: properties FK_cea2dfaff2198bf6a43447f7056; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT "FK_cea2dfaff2198bf6a43447f7056" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications FK_fb24cc1a30dea8ccb77e8f2a977; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "FK_fb24cc1a30dea8ccb77e8f2a977" FOREIGN KEY (property_id) REFERENCES public.properties(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 8IRhckxxJqn0KEEfsGW9DB0N8mEMQoFhYJipbveWKCho8cFcGBMmp50NExHc3uK

